/dist
/build
/lib/yarn/releases
package.json
yarn-error.log
robots.txt
.nvmrc
.yarnrc
*.lock
.gitignore
.editorconfig
.eslintignore
.eslintcache
.stylelintignore
.prettierignore
.markdownlintignore
.browserslistrc
.history
.DS_Store
*.png
**/*.svg
**/*.ico
LICENSE
